<%- include('../shared/header.ejs') %>

    <h2> About Page </h2>
    <p>
        Welcome! This is a page that will show you around the book Persuasion by Jane Austen.
        The website that I was able to get a free copy from was <a href="https://www.gutenberg.org/ebooks/22963"> Jennifer Rudesill
        created this project and can be found at <a href="https://github.com/Jrudesill">

    </p>
<%- include('..shared/footer.ejs') %>