<%- include('../shared/header.ejs') %>

<p>This webpage will help you filter and understand the book Persuasion by Jane Austen a little better by pulling chapters and characters.</p>


<%- include('../shared/footer.ejs') %>